// Fonts
$primaryFont: 'Georgia', sans-serif;
$boldFont: 'Georgia';
$secondaryFont: Verdana, Geneva, sans-serif;
$baseFontSize: 20px;
$baseFontColor: #4c4b4f;

// Colours
$primary: #599bbc;
$secondary: #535353;
$tertiary: #153354;
$quarternary: #153354;

$lightgrey: #f1f5f7;
$white: #FFFFFE; 
$text: $baseFontColor; 
$border: darken($lightgrey, 5%);
